:root {
--white-color: #fff;
--black-color: #000;
--text-color: #333;
--border-color: #dbdbdb;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
.grid {
    max-width: 100%;
    margin: 0 auto;
}
.grid__row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -8px;
}
.grid__column-1 {
    padding-left: 8px;
    width: 3.6%;
    padding-top: 16px;
    border-right: 1px solid var(--border-color);
    min-width: 51px
}
.grid__column-5-1 {
    padding-left: 8px;
    padding-right: 8px;
    width: 19.666%;
    background-color: #F2F3F5;
    min-width: 19.666%;
}
.grid__column-5 {
    padding-left: 8px;
    padding-right: 8px;
    width: 17.666%;
    background-color: #F2F3F5;
    min-width: 17.666%;
}
.grid__column-16 {
    padding-left: 8px;
    padding-right: 8px;
    width:59.07%;
    background-color: #F2F3F5;
    display: flex;
    justify-content: center;
    
}
.grid__column-16-6 {
    width: 16.666%;
    padding: 0 5px;
}
